<%= t @list.privacy%>

<p id="notice"><%= notice %></p>

  <p>
    <strong>Lista:</strong>
    <%= @list.name %>
  </p>

  <p>
    <strong>Privacidade:</strong>
    <%= @list.privacy %>
  </p>

  <p>
    <strong>Tarefas:</strong><br>
    <% @list.tasks.each do |task| %>
      <%= task.description %> <br>
    <% end %>
  </p>

  <%= link_to 'Editar', edit_list_path(@list) %> |
  <%= link_to 'Voltar', root_path %>
